---
type Project = {
  name: string;
  tags: string[];
  description: string;
  imageSrc: string;
  demoLink: string;
  githubLink: string;
};

const projects: Project[] = [
  {
    name: "Pathfinding Visualizer",
    tags: ["React", "TypeScript", "Tailwind CSS", "Context API"],
    description:
      "Visualizes how pathfinding algorithms work on a grid of cells.",
    imageSrc: "/personal-site/projects/pathfinding-visualizer.jpg",
    demoLink: "https://stellar-choux-d70645.netlify.app/",
    githubLink: "https://github.com/srichards96/pathfinding-visualizer",
  },
  {
    name: "Invorated Clothing",
    tags: [
      "Next.js 13",
      "TypeScript",
      "Tailwind CSS",
      "Sanity CMS",
      "Zustand",
      "Stripe",
    ],
    description:
      "Ecommerce site built using Next.js 13 and Sanity CMS. Includes cart and test Stripe payments.",
    imageSrc: "/personal-site/projects/nextjs13-ecommerce-site.jpg",
    demoLink: "https://nextjs13-ecommerce-site.vercel.app/",
    githubLink: "https://github.com/srichards96/nextjs13-ecommerce-site",
  },
  {
    name: "Memory Game",
    tags: ["React", "TypeScript", "Tailwind CSS"],
    description:
      "Simple number-matching memory game. Includes randomly generated board and variable board size.",
    imageSrc: "/personal-site/projects/memory-game.jpg",
    demoLink: "https://elaborate-cobbler-20ec87.netlify.app/",
    githubLink: "https://github.com/srichards96/react-memory-game",
  },
  {
    name: "Color Guesser Game",
    tags: ["React", "TypeScript", "Tailwind CSS", "LocalStorage API"],
    description:
      "Game to guess the hex code for a displayed color from 3 options. Includes score and tracks hiscore via LocalStorage.",
    imageSrc: "/personal-site/projects/color-guesser-game.jpg",
    demoLink: "https://hilarious-sprinkles-0f7f16.netlify.app/",
    githubLink: "https://github.com/srichards96/color-guesser-game",
  },
  {
    name: "Personal Site (this site)",
    tags: ["Astro", "TypeScript", "Tailwind CSS"],
    description: "I built this site using Astro, TypeScript, and TailwindCSS.",
    imageSrc: "/personal-site/projects/personal-site.jpg",
    demoLink: "#",
    githubLink: "https://github.com/srichards96/personal-site",
  },
];
---

<section id="projects" class="pt-[96px] mt-[-96px] sm:pt-[64px] sm:mt-[-64px]">
  <div class="container-narrow mx-auto p-4">
    <h1 class="text-2xl sm:text-4xl mb-4">Projects</h1>

    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map(
          ({ name, tags, description, imageSrc, demoLink, githubLink }) => (
            <article class="bg-zinc-800 border border-zinc-700 rounded overflow-hidden">
              <img
                src={imageSrc}
                alt={`Image of ${name}`}
                class="w-full h-[300px] object-cover"
              />

              <div class="p-4">
                <h2 class="text-xl sm:text-2xl mb-2">{name}</h2>
                <p class="mb-4 min-h-[100px]">{description}</p>

                <p class="mb-2">Tags:</p>
                <div class="flex gap-2 flex-wrap mb-4">
                  {tags.map((tag) => (
                    <div class="px-4 py-1 border border-purple-600 rounded-full bg-purple-600 bg-opacity-20">
                      {tag}
                    </div>
                  ))}
                </div>

                <div class="flex justify-between">
                  <a
                    href={githubLink}
                    target="_blank"
                    class="px-4 py-2 rounded-md bg-purple-600 hover:bg-purple-700 focus:bg-purple-700 active:bg-purple-800 transition-colors"
                  >
                    GitHub
                  </a>
                  <a
                    href={demoLink}
                    target="_blank"
                    class="px-4 py-2 rounded-md bg-purple-600 hover:bg-purple-700 focus:bg-purple-700 active:bg-purple-800 transition-colors"
                  >
                    Demo
                  </a>
                </div>
              </div>
            </article>
          )
        )
      }
    </div>
  </div>
</section>
